name: Pipeline de Testes Automatizados

on:
  push:
    branches: [ '*' ]
  schedule:
    - cron: '0 12 * * 1,3,5'

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    # passo a passo para rodar os testes
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run
        uses: cypress-io/github-action@v6

        with:
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{secrets.CYPRESS_RECORD_KEY}}
